body{
    background-color: rgb(197, 162, 6);

}
.main{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    border: 1px black;
    height: 300px;
    justify-content: space-between;
    gap: 12px;
}
.angular, .react,.svlet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black;
    height: 300px;
    width: 150px;
    background-color: white;


}
img{
    width: 100px; 
    
}
p{
    text-align: center;
}