body {
    background-image: url("resources/image.jpeg");


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .nav1 {
            display: flex;
            flex-direction: row;

            .logo {
                display: flex;
                flex-direction: row;

                img {
                    display: flex;
                    width: 50px;
                    border-radius: 100px;
                    height: 50px;
                    align-items: center;
                }

                p {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    margin-bottom: 10px;
                }


            }

            ul,
            li {
                display: flex;
                flex-direction: row;
                list-style: none;
                align-items: center;
                justify-content: space-evenly;
                margin: 14px;

            }

        }

        .nav2 {
            display: flex;
            flex-direction: column;

            ul,
            li {
                display: flex;
                flex-direction: row;
                list-style: none;
                align-items: center;
                margin: 10px;
                margin-right: 30px;
                margin-top: 13px;
                #sign{
                    display: flex;
                    border: 1px solid black;
                    border-radius: 100px;
                    width: 100px;
                    height: 20px;
                    justify-content: center;
                    background-color: rgb(24, 47, 179);
                    color: wheat;
                }
            }

        }
    }
    .container1{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 70px;

       
        .text{
            display: flex;
            flex-direction: column;
            #p1{ display: flex;
                flex-direction: column;
                font-size: 50px;
                font-family: cursive;
                margin-left: 10px;
                #color{
                    display: flex;
                    color: rgb(224, 26, 59);
                }
            }
            #p2{
                display: flex;
                flex-direction: column;
                font-size: 30px;
                margin-top: 30px;  
                margin-left: 10px; 
            }

        }
        .button{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-left: 10px; 

            
            #get{
                display: flex;
                height: 30px;
                border-radius: 10px;
                align-items: center;
                margin-top: 20px ;
                background-color: blue;
                color: aliceblue;


            }
            #watch{
                display: flex;
                height: 30px;
                border-radius: 10px;
                align-items: center;
                margin-top: 20px ;
            }

        }
        .images{
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            .first{
                display: grid;
                grid-template-rows: 1fr 1fr;
                height: 820px;
                justify-content: center;
                #cliff{
                    display: flex;
                    margin-top: 5px;
                    margin-bottom:  5px;
                    border-radius: 10px;
                    height: 300px;
                    width: 320px;

                }
                #beach{
                    display: flex;
                    border-radius: 10px;
                    height: 300px;
                    align-items: center;

                }
            }
            .second{
                display: flex;
                align-items: center;
                justify-content: center;

                #photo{
                    display: flex;
                    border-radius: 10px;
                    height: 300px;
                    margin-right: 10px;
                }
            }

        }
    }
    .footer{
        display: flex;
        flex-direction: row;
        width: 120px;
        img{
            display: flex;
            width: 400px;
            margin: 19px;
        }


    }
}
